.changelog {
  color: #333333;
}

.changelog h1:first-child,
.changelog h1:first-child+p{
  display: none;
}

.changelog h3 {
  font-size: 16px;
}

.changelog h2 {
  font-size: 18px;
}

.changelog p,
.changelog ul {
  font-size: 14px;
  color: #333333;
}

.changelog a {
  color: #1EA7FD;
}

.changelog h2, .changelog h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.changelog h2 > a, .changelog h3 > a {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 2px;
}

.changelog ul {
  margin-top: 3px;
  margin-bottom: 8px;
}

.changelog li {
  line-height: 2em;
}
